:root {
  // COLORS
  --color-bg: #161626;
  --color-lightblue: #46cbff;

  --color-black: #000;
  --color-darkgrey: #626A7F;
  --color-white: #fff;

  // FONTS
  --font-main: 'Inter', sans-serif;
}


